/*
  https://iconly.io
*/

@font-face {
  font-display: auto;
  font-family: "Iconly";
  font-style: normal;
  font-weight: 400;
  src: url(data:font/woff2;base64,d09GMgABAAAAABMwAAsAAAAAITAAABLgAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHIMyBmAAhzYKrCSjGgtQAAE2AiQDgRwEIAWDfgeCGhuPGzOjZpu1PLL/IiEeIrWHZyUSSUoyWHnbtVV/6TJ1HpGNV7/ybE3P5Jx+5dK/ychHRkgye0Bz1qxGfRNonOAxahLBpFiLBxJSxIMUHhqoITXjFGpQqPnRLyfmOXPONASu7cbELAOrYLZUUzYtxGCS7yYlYG7t2PdoKFUQmxCu7dzWlqKtDlsTrn/+pqCDOVNpY7llyT4aX+L0rgRgKCDnY33tjS0rcNBtDvDgMCkA2PH/LXN2fo6h9IUuU4bi8iIcHin+zt7y9u9ckr1Lr0Pd1CpRKNv13tFSSn2e1iwYhbEIxUMIycMLHmM6UCv6zN5jwjrMs0Q6OjVfuwzcCCAAmMxWQ8/kzALgtifQDBQckueGrNsjXef3AF00ZYUzjP6KIxeYKGsVuWzeC97zpd+QgCJJIWjEJKRk5BTYaNQkdOS0RN5oOqUIi4o8r8VIXNczwUqpCgjwNUUhEsuMhN4ZEuquSnQkHa2jSNYcBFnqhh6Fx4C8SAbDEhVlYITmjhztLaClSohpgZGqpiQ1CJiSCZmkg5C0iIUA0kTpbVM6o7W4rOQBKJlXlxtIyGjjS4nxsUXSU6A8I50pfQYAk+RzqhiCqSUoqpoWGRampYPH87EPCIAd6HMA9jI/HnlZgw6AIhLQrHIvtxfmVY7CgmGV5XtG8EqEuAgEYBDH8Dzk0egtQSHiSQzTwJ2VSZk9BlfJx69Oqy49YwlVOAyGPEaDdm5YVIQQh5DKMEp4WjYAAz0NXRYkL6ImLaEoq4XSZiYaKSK/jUBhw9j/ZHQMTCxsHFw8fAJCgMyAZFTLdp0omgk2SilXgHaVqcL3J2BdNpOH3FtgzKwcg4F7QM+rQcNrQMe9IOI+EHM/LOJ1oOYNIOWNEMmbgOLNoOQtIOetoODtoOUdIOEBkPFOUPEuiOA9zHg4RAACQgJQEBKAgZAAHIQEECAkgAQhATQQEkAHIQEMEBLABCEBLBASwAYhARwQEsAFIQE8EBLAB6H9IDgcqiQoAYgSIfspTkBrAPrHOAXDbqAQGA24wsZAD3e6TwQBxcB+q+pJzzFzInV2is9ncuRsIdeexJdImJFsHGfgTD2HYxFwGOHq5DHpAo6GTV+BkwROZ0vYKzVmJLR+62TLpAnREaNvQRnvhKEKMrNGThhqFWgeIW2o9QF+St/vHEGMPGUFOk842NPqda0O6alzMiH2IVPxvOacofq+d8KsHaNAkxdQRXSfZm2exormpN1pBjdGVMWOxTPEU5KuslSmOpMUNW8q97716j0LmL/rXpQzEEZxAI0wq2X4MeXEV0N3QoPWmswCOdhrzcnMkQP9zgZpCkJarmq6DhQBhsireTm7lSh6OG9GFDUzWGqY/HJ13OypdjVrINUY78BZsy3fVZFhuinRrB3MGmMOxa32I0ka/ZTm0TDT80AZvi8MtwoQ0nCCNmfOUy4MtRhAGw0xHQi2nUMvet2md4ThMeNIzMOp0ExF3qiGXDuPpcGqWgXCROeoeRMgE4SDvn0MDv34OgIaVgJl3Hsm9z/QgWF2kHKiIIDUQVfeqb63UXmrpPpxPdgyUysH/kkshiNZz3/nB+16Iai3OSIn7GpfwDMkdeS9VldsxPdUf1MuxDLSgsLXNJWTr19o4m55kYgdI/9+x3IpSf+gB1p9n+Y40h7OicoY3mnbms4dcfC4+JhsYsU2PH7mzCljiK6N+bQdwkfIzENIC9Hi2jOsuHKnlri1FKwcoK3BW6W9NN/Xk+3ozAnWHQWB1set6G3zpnFrp9MBYGQR+lgwx9sT6PHGQE02+yqPr3hKeXxtTtj7UbPx4Kzi2FSY5pxVq9By1RwoNhrvhmzcAO+7qFEiY8hMryq10xfa8q/1R4XSBTB9M/cHOqNoldrOZ1eXpqWe3GmuZO/Y1FWpf/95esR8fZ8+eGO9umfcfTnb+kDfm2+Nd1HeH2KEMMYw7mywMbYJwVyGnAg0CS2JGIQJxABLEEBDAQiODk8jmbdKLkFW+RhGNhLj/jDQiNk2zhwiVZHWGD6YgyeK2X5H1GGRYSw2ZcCGBiNyNVVmCL41Lj6OSAxsBngeMX3OIAwnxjZmMbBJfAwjqb2qnumio/eQM/maJc7h9zSGREUx8TWVkpIjisgPVztFTRqZDN2AYzG8yPBYO4zFIliVEx1rNAhxcVxkig4UE5LeFDsSt6qhRJtVJAw+moDJbyQ5JkoW8ELidGkbm7kspgmnaHPSMjJhEqQw8U13O88QixBOCRJSt2qBpmD7/toExkXo4AiLE4lLyBQPfLwU6mDpR7pbLUNIK7UngyWAxQHN4hBSx7YBMvVMniztZw1el1gKke1qPM/EnO3ePdepkD3u1ApyJue5+9C7qE5alycSwS86uNVty9PoTR9FwdUoUgTdUSEdr2ibTzNf3gXcRj43CjXuvRJGWm8ewAP6YV1lpYiHFC1f2731QWm6dqLHixQ9fxZT1aUP3Vb3bkPsz8bOd9NSuhVI/R+ak92Q1tvy1fV10ewXntyQa0F9tpMOO4+R5+m950XsLMY2Mt1oO6bh067Wv+kOZnBBtQjb6pOcD8Qdb6fa2J6qeOF0tclxKJeSNZkLgsSTEG6Hbs9AtqHo+f4Y9moWaXVdbGP3bkvsz87S4GCI+UKwxMpImVqtEha/46TD6+Wpu8clwHC8LV1FGtFE5tKHLTwQLCFFLJIaEub+vfFPq2277sPW1nIlG4+nrnokFnzAjgY72xPGkVGP4onQSefziS4peUfmsEZhhq5Vn4v5//76u50XCplD2mwwMDJRD3ZvNpTZsQCQERJ/FWK+LvT3h44V9vPkbnWV82GnbQeF0HHQcmR62B24WWyIdZZKIaaqYw5bnEuS3niCNe/nNa/SbZ+wuhWuSxGWi8eBMWzHwnW/nqnISzbFLHOf8BiKm+GOC61GQzbFFHMmx8E24NKcfFdXc7JSUO+3grjLLMJm/z9M+0Hwwyx4itZSYIy62toz6lPRCR7to1/WgrMt0MLU+9LrAyu3Hpnyz/7tI4ulfHHHmVCWnLfz5MnBXdO2Tfn1z2DC0d1ySWj3T+HtcsVbeXe49Mcfd4QrZDC/4TX2YputeJOtuNi2aTmjGxNz5Y6nVk71PvqUo3yubHi4rGLu0/nR3qnMdU/OVVw7O9fGwnVPZabYY+kq7pQO9zSU32GPGSsdT/mPDTufh60aPufxaLcihtekqd4MrH4ELXiCNk6N3VKuoW7dS43TnihYZ/3xQs7Pd//Koe5+suabmRNPK2rL9yTM9CXbXyaORsiNF74DRlnk08TLKUmne1YPlNfC4smZbdsgEXJzfb5jv1aOeKqHJ3aucn3c+/d0WelPfdvbR9+3LbVBlj/1l2d/HD7q9TKYAfXjLphhaGghEZYsXJwQPyTeG/9ie9AuRu17b/HVMm6tv5Yz8A5RS0zHTNOcb+CmGf757GylO6mAWq7IhLtb3J0uV2DM1TkdHwu4kJwA+P5Yo3EvOvZNrEnrS0npS8un7r1FzcdjJvlpqX29KYC/mqB+Tl3L+p4VDC67E3fQ89x4jCk52RRNHYjJikQ3fVr0j7XAHh2d7DbFUOb1iYl5FtsosDj3iLNFmaZ7x7dvnwGTsS3pCIhXCCsZT0sfptRcCWoyF40/JEoTpPnThOnC29t3zDSYjz97bOopHrpzvMdzpCKWGM8RO12JeHzHjhHTvaIMUc4ZbcWOtu7xYQH/7dMjt4VpXPnQ9u2zFb6L+QXs888UWkyohK0Ojqeljfs4YQ7cGahStvVHvf2D7M22KtUy8I0711xphbyCfVv2DRRU2FTyXZ+/OUBhYYiPh2iBYHNcZ4nhFGbYqALmfQuB9Umb3SZ5X/qc9H17MPOK6vzXKlB9fV51hUqwfUxd8Uvej3lf4r9CfWxLuDsuzlldfNv3ya8ipZt1yW/3H7PV2mtPh5UFSa4kd1Ihe7/SGn5OarZcDIL7HvYmNAm+mgsI2Jv7asXTjCp36w+rhzmHO4t3RX81MH8sp3cZ/+s7c/jYfPOft7l2FnEnow4axnyZinv3LNlzr3V2DyumNGFjZgP32mYHVIwMWDW51WcsMWzYuXODYfomfC01CZVxo8dVtXNZD2ausUatNeodtKludZHZVlhrKSi0+AoslgIr1nnm43p6I+N/rjqHr2F586otvhLjBsPOnYZiY+nJ6ptYzj3+h8/QNDlZ6uavnh0dnV7B1QbpTnrQGZT7gMiowqyi7KIsH5z+TTW95xe3f6XWvJGPox+P2F9bR1Ay50QAtK0kriYwPsHA+KSZQM1VqSxaNJ3Fo0HgtrUSO86lxEIP8CFCSkYKka2LH9GyN7pomH4nYs+jVLLVUWJ3omyuPfSSOR+CJzzXLCdWXCczhZbHDBk0TgxTpq+6CrpUvUIuFklPLVrRipHMjRxcL6QlJuKyWBxlYFInqaSxTJ8ILEMGvz0eCwSuXK7ad5EMellF8cgGfBmyHqXnoBV0+k4RC01KQi7l7k9OTCUuOoraECyuuLBoWc3SanGUrkNtTLcjh01pYiwBs/DQ5XlL9JNLAzF8GrFYLFGh1RzxL3wcMayQFgkKMHas7H91EoxGMAf7+92aFQLDJpaIkO5ZJLRhso29XTQpZshbR+PTimN3mT9G25lJcQyELjqQ2/oLRqAN3v7bx269RBTaXEJpLp16+yiC0CFIodnMZ1ycZGL2T+usg8Le+wt57Cpg/Rgrdl3mucQx99MHD+5UPKIYm8VP6l3lDrKHeJ3smsCRiO6nrfvtyZRN0TfXFnI+NL3YTS7OJgwaEv0TIA8IiYx+NCV3ePJCa5+dVdZ37IQ9Ru+6wnOJYpbNPwqAU6Nj+kNdlCGTNJE7J3pIC5lPDMLPS1Wxir57ddt2UNGZJJxk98U6HkLTMDxqc96krTBaSK5bNp+XE2cDS7G1Z8Phm+H/cjeHjb/84otPHpA6PRvWTVK6ILvu/vMamNdRkzpQR4Lw6zOzJ04UFE5Nzc7k58eqqenZ2blxdnqqsHBHmaYQAWZyT03RGBHQmj29/nsOWd8nOeKyjxKVho2V72bHZMa8rP609Fz1gJmf+9ivbuFtGFiLnEh/JXxju8JIOXuRJQ+nRGkRq0JtKBvWFwnK1rz/of3j/UPXYcCiqiOSN4/8NPlxbrV7odYkWJaHPdLoVGhyiprdzs9evrAZjPPBPEdBwo1HtU69LK5tw4oDwZfW9sAsCK/cvVEar4kvnRo49Iq3JtlFX5rzXDpYW5Z8P5HLzeJkRbm/8rUi1+eh5mD7Ez88PeQ0vnUormP9pUrw9gOIHR53ATUxeGtcFaNKP3fPv1tWfLzA7zi59Ul9jIOWrUx/lysoOKAxRwxltU7QzS2QNRjBD5Ie/L6HvKklP1049bjwklmtUavXl6pc4Ew1ManMh4aLG7WyqlNNaddCv5irgkLohxvwE/zfsxXnqFX1yoZTj/3EbRvB9mQjq52H/rhwh7lr+JF/kpMr7DVt62QbYtXqttd/eXeNhCJ5PFqspPQ9+y/76yALvGYzOrR48Qsuh1TKEk/rLzCd87IaABj6SZjrS2uBquNfFOxZntRMvR5fUL3YYVhYx6x2oVIYJHJDbm/rx68Uzn5AmI56GANl8Mld642Ubwd4DAEW/5d/8tM8cxWYa7JgrTW3ZunBZfIIxdKtdKd5Iabprn0lgmw8LX7U83ld7PSI/8nqQ+aPaiB5YeLjAps2nUkTVriM3iXvNr68jq/TPquxEk2Q6l3LzzXDQPgDxMI6iEPy6tEHsaexYPjfcH+h2BAAgASgH8f6sLV1NIixCfSXC0gM/xruLjo2Gu71QEFcQ8QQov/BGRhu0Yexd7BWjL8lx7CtAADYF+gkJs/jkOu6/4n5MBocwPi73u6lrlTyVv5KZ+GArGAYw3Qn6RAMsa7QxgA/w36V+lARoiTjC2P/Amxy/o3nwXqTtsjj+wF8J8/b4+Jfsbfx5PEhzO+G9iNwIwr5BhgMRKPErARAmFt8T0DwykiwFigaUmBIHMC5SBBYFIJE0gumWDHEam4UwiCZVsa2iREorgBhEh8iHPgeQZC6h0jgFwVTkbnmLMYQ1tWAKPZ3HsJqeGrf3lFqSTDvDLlbt3lHl98aCNTeoiEfTJeE0muf8LKB8cxaVhKWfgLUqdGiWaPN1vPx69TIo10cuqYiAyZOdqi7v5pFAvNZSFHNzOUeAT5eqpZI/UJ38bPWRkAtRmpHalpVskOJSY1MLbVqPa7r+dS4kgSbHOhWyyXy3WpxMaVqPMlFoatg+vQWZagoyYqq6YZp2Y7LTUBIRExCSkZOgaKkEiHSImoaWjp6BkZRTIFGfnNxIDUA6/ib6b6vy9d4aebD/E8AB8ZcHEyLkLCYi4N3Lk4cUwQAqWgQdXW7l+ggyWVySXSZ8f8MYD6kb/EE2DWvp7XVAtgiNHJdXg8NyhsZ8fLp0CCgRasmxVw7dWnkV6dauxoelXoCAA==)
    format("woff2");
}

[class="icon"],
[class^="icon-"],
[class*=" icon-"] {
  display: block;
  font-family: "Iconly" !important;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1 !important;
  font-size: 12px !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.icon-desktop:before {
  content: "\e000";
}

.icon-moon:before {
  content: "\e001";
}

.icon-sun:before {
  content: "\e002";
}

.icon-envelope:before {
  content: "\e003";
}

.icon-git:before {
  content: "\e004";
}

.icon-book:before {
  content: "\e005";
}

.icon-user:before {
  content: "\e006";
}

.icon-scroll:before {
  content: "\e007";
}

.icon-link:before {
  content: "\e008";
}

.icon-code:before {
  content: "\e009";
}

.icon-robot:before {
  content: "\e00a";
}

.icon-discord:before {
  content: "\e00b";
}

.icon-simplex:before {
  content: "\e010";
}

.icon-session:before {
  content: "\e012";
}

.icon-steam:before {
  content: "\e00c";
}

.icon-counter-strike:before {
  content: "\e00d";
}

.icon-stoat:before {
  content: "\e00e";
}

.icon-clapperboard:before {
  content: "\e00f";
}
