@import url(font.css);
@import url(icons.css);
@import url(variables.css);

/* Body */
body {
  background-color: var(--col-900);
  margin: 0;
}

/* Global */
* {
  color: var(--text);
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Button */
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.75rem;
  height: 1.75rem;
  padding: 0.8rem;
  cursor: pointer;
  transition:
    transform 0.15s,
    opacity 0.15s;
  user-select: none;
  -webkit-user-drag: none;
  text-decoration: none;
  border-radius: var(--border-radius);
}

.button .icon {
  font-size: 1rem !important;
}

.button.full>* {
  color: var(--col-black);
}

html.light .button.full>* {
  color: var(--col-900);
}

.button:hover {
  transform: scale(0.95);
  background-color: var(--col-600);
  opacity: 85%;
}

.button:active {
  transition:
    transform 0.1s,
    opacity 0.1s;
  opacity: 95%;
  transform: scale(1);
}

.button.full {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  background-color: var(--primary);
  border-radius: var(--border-radius);
  width: fit-content;
  height: fit-content;
}

/* Container */
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.container>div {
  width: 100%;
  max-width: 80rem;
  box-sizing: border-box;
  margin-top: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/* Header */
.header {
  display: flex;
  background-color: var(--col-800);
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 0.5rem 0;
  border-radius: var(--border-radius);
}

.header .brand {
  pointer-events: none;
  user-select: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header .brand .text {
  font-size: 1.2rem !important;
  margin: 0;
  font-weight: 500;
}

.header .brand .image {
  background-color: rgb(var(--primary-rgb), 0.05);
  border-radius: var(--border-radius);
  padding: 0.5rem;
}

html.light .header .brand .image {
  background-color: var(--col-black) !important;
}

.header .buttons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* Content */
.content {
  padding: 0 !important;
  margin-top: 0 !important;
  height: fit-content !important;
}

/* Section */
.section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem !important;
  box-sizing: border-box;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.section>.label {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin: 0;
  width: fit-content;
  align-self: center;
}

.section .label .icon {
  font-size: 1rem !important;
  opacity: 75%;
}

/* Links */
.links {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.link {
  display: flex;
  gap: 0.25rem;
  flex-direction: column;
  text-decoration: none;
  background-color: var(--col-700);
  border-radius: var(--border-radius);
  padding: 1rem;
  box-sizing: border-box;
  transition:
    opacity 0.15s,
    transform 0.15s;
  height: fit-content;
  max-width: 100%;
}

.links.compact .link {
  justify-content: center;
  align-items: center;
  gap: 1rem !important;
  flex-direction: row !important;
  width: calc(100% / 3 - 1rem / 2) !important;
}

.link {
  width: calc(100% / 3 - 1rem / 2);
}

.link .icon {
  font-size: 18px !important;
}

.link .notice {
  background-color: var(--primary);
  color: var(--col-black);
  border-radius: var(--border-radius);
  font-size: 0.75rem;
  padding: 0.15rem 0.5rem;
  box-sizing: border-box;
}

html.light .link .notice {
  color: var(--col-900);
}

.link .label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.link .label span:not(.notice) {
  font-weight: 500;
  color: var(--primary);
}

.link .text {
  opacity: 75%;
  font-size: 0.95rem;
}

.link>* {
  margin: 0;
}

.link:hover {
  opacity: 85%;
  transform: scale(0.98);
}

.link:active {
  transition:
    opacity 0.1s,
    transform 0.1s;
  opacity: 95%;
  transform: scale(1);
}

/* Responsive */
@media only screen and (max-width: 1000px) {
  .links {
    flex-direction: column;
  }

  .links .link,
  .links.compact .link {
    max-width: 100% !important;
    width: 100% !important;
  }

  .banner {
    height: 15rem;
    width: 100%;
  }
}

/* Footer */
.footer {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.footer .copyright {
  font-weight: 500;
  background-color: var(--primary);
  color: var(--col-black);
  border-radius: var(--border-radius);
  padding: 0.25rem 0.5rem;
  box-sizing: border-box;
}

html.light .footer .copyright {
  color: var(--col-900);
}
