@media (prefers-color-scheme: dark) {
  html {
    --primary: var(--primary-dark);
    --primary-rgb: var(--primary-rgb-dark);
    --col-900: var(--col-900-dark);
    --col-800: var(--col-800-dark);
    --col-700: var(--col-700-dark);
    --col-600: var(--col-600-dark);
    --text: var(--text-dark);
  }
}

html.dark {
  --primary: var(--primary-dark);
  --primary-rgb: var(--primary-rgb-dark);
  --col-900: var(--col-900-dark);
  --col-800: var(--col-800-dark);
  --col-700: var(--col-700-dark);
  --col-600: var(--col-600-dark);
  --text: var(--text-dark);
}

@media (prefers-color-scheme: light) {
  html {
    --primary: var(--primary-light);
    --primary-rgb: var(--primary-rgb-light);
    --col-900: var(--col-900-light);
    --col-800: var(--col-800-light);
    --col-700: var(--col-700-light);
    --col-600: var(--col-600-light);
    --text: var(--text-light);
  }
}

html.light {
  --primary: var(--primary-light);
  --primary-rgb: var(--primary-rgb-light);
  --col-900: var(--col-900-light);
  --col-800: var(--col-800-light);
  --col-700: var(--col-700-light);
  --col-600: var(--col-600-light);
  --text: var(--text-light);
}
